[tool.poetry]
name = "beetcamp"
version = "0.10.0"
description = "Bandcamp autotagger source for beets (http://beets.io)."
authors = ["Šarūnas Nejus <snejus@pm.me>"]
readme = "README.md"
license = "GPL-2.0"
homepage = "https://github.com/snejus/beetcamp"
repository = "https://github.com/snejus/beetcamp"

packages = [{ include = "beetsplug" }]
include = ["LICENSE", "README.md"]

[tool.poetry.dependencies]
python = ">=3.6,<3.10"

requests = "*"
cached-property = "^1.5.2"
pycountry = "^20.7.3"

[tool.poetry.dev-dependencies]
beets = "*"
dataclasses = { version = "*", python = "<3.7" }
flake8 = ">=3.8.4"
flake8-bandit = ">=2.0.0"
mypy = ">=0.790"
pylint = ">=2.7.4"
pytest = ">=6.2"
pytest-cov = ">=2.10.1"
pytest-randomly = "*"
pytest-lazy-fixture = ">=0.6.3"
rich = "^10.9.0"
tox = ">=3.21.1"
types-setuptools = "^57.0.0"
types-requests = "^2.25.0"
types-six = "^0.1.7"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
